@media (max-width: 1200px) {
  .posit-div img{
   display: none;
}
.posit-div{
    display: grid;
}
.posit_texts{
    position: static;
}
.posit-1, .posit-2, .posit-3, .posit-4, .posit-5, .posit-6{
    text-align: center;   
}
.post_number{
    font-size: 42px;
}
/*SECTION  WE BUILD  *_* START*/

    .we-build-menu ul li {
        font-size: 16px;
    }

    .we-build {
        flex-direction: column;
    }

    .we-build-img {
        height: 590px;
        width: 100%;
    }

    .we-build-describtion {
        padding: 72px 0 21px 0;
    }

    .we-build-describtion-title {
        text-align: center;
    }

    .we-build-small-text {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        max-width: 845px;
        width: 100%;
        margin: auto;
    }

    .price-calculate {
        text-align: center;
        display: flex;
        margin: auto;
        max-width: 420px;
        width: 100%;
        padding-bottom: 0;
    }

    .calculate {
        margin-right: 0;
    }

    /*SECTION  WE BUILD  -_- END*/

    /*SECTION  REVIEWS CONSTRUCTION DIARIES *_* START*/

    .construction-slide {
        max-width: 527px;
        width: 100%;
    }

    /* SECTION  REVIEWS CONSTRUCTION DIARIES -_- END */

} /* 1200 */

@media (max-width: 992px) {

    .section-compani_title{
        font-size: 24px;
        max-width: 550px;
        margin-left:0px;
        margin:0 auto;
    }
    .post_number{
        font-size: 24px;
    }
    .post_number_yellow{
        font-size: 14px;
    }
    .divlstk,.divlist_bottom{
        margin:0 auto;
    }
    .specpredlojenia_block{
        flex-wrap: wrap-reverse;
    }
    .specpredlojenia_block_one,.specpredlojenia_block_two{
        width:100%;
        text-align: center;
    }
     /*SECTION  WE BUILD  *_* START*/
    .we-build-title {
        margin-bottom: 30px;
    }

    .we-build-menu ul {
        flex-direction: column;
    }

    .we-build-menu ul li + li {
        margin-top: 15px;
    }

    .we-build-small-text {
        display: flex;
        flex-direction: column;
        max-width: 356px;
        width: 100%;
        margin: auto;
    }

    .price-calculate {
        max-width: 356px;
        width: 100%;
        flex-direction: column;
    }

    .price p {
        font-size: 25px;
    }

    .calculate {
        text-align: left;
        margin: auto;
    }

    .calculate button {
        width: 170px;
        height: 30px;
        font-size: 16px;
    }
    /*SECTION  WE BUILD  -_- END*/
 }/* 992*/



@media (max-width: 768px) { 
/*SECTION  REVIEWS CONSTRUCTION DIARIES *_* START*/

    .construction-slide {
        max-width: 487px;
        width: 100%;
    }

    .construction-block {
        max-width: 447px;
        width: 100%;
    }

    .construction-slide .slick-prev, .construction-slide .slick-next {
        margin-right: 0;
    }

    /* SECTION  REVIEWS CONSTRUCTION DIARIES -_- END */

 }/* 768 */

@media (max-width: 576px) { 
    .section-compani_title{
        font-size: 15px;
        max-width: 320px;
        margin-left:0px;
        margin:0 auto;
    }
    .posit_texts{
        font-size: 16px;
    }
    .posit-div_number_yellow, .posit-div_number{
        display: block;
    }
    .post_number, .post_number_yellow{
        margin:0 auto;
    }
    .divlstk_block_block{
        width:100%;
    }
    .divlstk{
    max-width:555px;
    width:100%;
    background: #fff;
    padding:55px 0px 30px 0px;
    margin-left:auto;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 20%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
    clip-path: polygon(0 0, 100% 0%, 100% 20%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
    }
    .divlist_bottom{
        padding-top:0px;
    }
    .divlist_bottom p{
        padding:15px;
    }
    .specpredlojenia_title h6{
        font-size: 24px;
    }
    .specpredlojenia_title span{
        font-size: 18px;
    }
     .we-build-menu ul li, .we-do-list ul li, .price-includes-list ul li, .price-includes-title p, .price p, .construction-text p {
        font-size: 15px;
    }

    /*SECTION  WE BUILD  *_* START*/

    .we-build-title h2, .reviews-title h2 {
        font-size: 20px;
    }

    .we-build-describtion {
        padding: 10px;
    }

    .we-build-describtion-title h3 {
        font-size: 15px;
    }

    .price-calculate {
        flex-direction: column;
    }

    .price p {
        font-size: 20px;
    }

    .calculate button {
        width: 140px;
        font-size: 12px;
    }

    /*SECTION  WE BUILD  -_- END*/

    /*SECTION  REVIEWS CONSTRUCTION DIARIES *_* START*/

    .construction-block {
        padding: 10px;
        margin: 0 auto;
    }

    .construction-text-imgs {
        flex-direction: column;
    }

    .construction-imgs {
        margin: auto;
    }

    /* SECTION  REVIEWS CONSTRUCTION DIARIES -_- END */
}/* 576*/
